.card {
    max-width: 282px;
    height: 361px;
    padding-bottom: 31px;
    background-color: #ffffff;
    /* z-index: 1; */
    border-radius: 10px;
    display: grid;
    grid-template-areas:
      "Image Image"
      "Name Like";
    grid-template-columns: 1fr min-content;
    position: relative;
  }